<section class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-box">
        <div>
          <h2 class="footer-title">Organization</h2>
          <a target="_blank" href="mailto:contact@raidentrust.li">Contact</a>
          <a rel="noopener noreferrer" href="/privacy.html">
            Imprint & Privacy Policy
          </a>
        </div>
        <div>
          <h2 class="footer-title">Community</h2>
          <a rel="noopener noreferrer" href="https://medium.com/@raidentrust" target="_blank">Medium</a>
          <a rel="noopener noreferrer" href="https://twitter.com/raiden_trust" target="_blank">Twitter</a>
        </div>
      </div>
    </div>
  </div>
</section>
