<head>
  <title>Raiden Trust</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="The Raiden Trust" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="../favicon.ico" />

  <link rel="stylesheet" type="text/css" href={{ "css/materialize.min.css" | absolute_url }}>
  <link rel="stylesheet" href="css/main.css" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      const sidenav = document.querySelectorAll('.sidenav');
      M.Sidenav.init(sidenav, {});
    });

  </script>
  <script type="text/javascript" src={{ "js/materialize.min.js" | absolute_url }}></script>
</head>
