---
layout: default
---


<section class="privacy-policy">
    <div class="container">
        <div class="row">
            <h1>Guidelines</h1>

            <h2>
                <span class="first-line-span">.</span>Goal of the Raiden Trust
            </h2>

            <p class="medium justify">
                The Raiden Trust’s mission is to strengthen and foster the greater Raiden ecosystem by supporting 
                projects and individuals working on complementary or foundational components or applications that 
                help to build and grow the Raiden Network.
            </p>

            <h2>
                <span class="first-line-span">.</span>Criteria for eligible grant applications
            </h2>

            <ol class="numbered">
                <li class="left-align">
                    <strong>Beneficial to the greater Raiden ecosystem</strong>
                    <div class="justify">We are offering grants to anyone that contributes to building and growing 
                        the Raiden Network ecosystem. This definition of eligible grant applications is purposely 
                        kept very broad to allow for a wide range of projects. Projects supported could vary from 
                        someone contributing to an open source library that the Raiden Network relies on to building 
                        a Raiden Network mobile wallet. It also means that a grant application can be anything from a 
                        small side project to an effort requiring several full-time employees.
                    </div>
                </li>
                <li class="left-align">
                    <strong>Open source</strong>
                    <div class="justify">Projects must be open-source or at least plan to open-source near-term.</div>
                </li>
                <li class="left-align">
                    <strong>No immediate plan to seek funding</strong>
                    <div class="justify">Projects should not plan to raise capital via equity financing or token sale 
                        models in the foreseeable future.
                    </div>
                </li>
            </ol>

            <h2>
                <span class="first-line-span">.</span>What we offer
            </h2>

            <h3 class="no-margin">Funding</h3>

            <p class="justify">The size of the grant depends on your requirements and budget projections. The maximum 
                grant size is intended to not exceed $100,000. Receiving consecutive grants is possible depending on the 
                progress of your project.</p>

            <h3 class="no-margin">Mentorship</h3>

            <p class="justify">Leverage the potential of your project through mentorship by providing you access to our 
                network in the Ethereum ecosystem. For example, if you encounter technical problems a Raiden Network 
                core developer may be able to help you.</p>

            <h2>
                <span class="first-line-span">.</span>Examples of what we wish to fund
            </h2>

            <p class="justify">
                While we know that the possibilities of eligible grant applications are endless and that the best ideas 
                may be entirely unexpected, we want to provide you with some categories and specific ideas that we think 
                could make a great grant application:
            </p>

            <ol>
                <li class="justify">
                    <span class="bold">Research,</span>
                    <span>
                        e.g. economics PhD researching p2p payment channel networks, especially
                        with respect to the so-called “imbalanced channel” problem, see <a
                            href="https://github.com/raiden-network/raiden/issues/3520" target="_blank">here</a>
                    </span>
                </li>
                <li class="justify">
                    <span class="bold">Development tools or extensions,</span>
                    <span>
                        e.g. building a Raiden client or Raiden library in another language
                    </span>
                </li>
                <li class="justify">
                    <span class="bold">Applications on top of Raiden,</span>
                    <span>
                        e.g. a file-sharing service with micropayments; also see more hacking ideas <a
                            href="https://medium.com/raiden-network/build-with-raiden-at-ethcapetown-894c0359d016"
                            target="_blank">here</a>
                    </span>
                </li>
                <li class="justify">
                    <span class="bold">User adoption,</span>
                    <span>
                        e.g. creating educational resources, organizing meetups, hosting workshops, etc.
                    </span>
                </li>
                <li class="justify">
                    <span class="bold">UX improvements,</span>
                    <span>
                        e.g. building a more advanced wallet, wallet integrations or Raiden Network visualizations
                    </span>
                </li>
            </ol>

            <p class="justify">
                Please note that we <span class="bold">do not intend to grant funding to projects which are on the core 
                roadmap of the Raiden Network project itself.</span> If you want to work on the core roadmap you can always apply 
                directly for <a href="https://angel.co/company/brainbot-group/jobs" target="_blank">jobs at brainbot</a>. 
                You can see what’s on the roadmap 
                <a href="https://raiden.network/roadmap.html" target="_blank">here</a>.
            </p>

            <h2>
                <span class="first-line-span">.</span>Application process
            </h2>

            <h3 class="no-margin">
                Grants are reviewed in waves
            </h3>

            <p class="justify">
                There will be a submission window starting and closing every two months. The first submission window of the 
                year lasts from January 1st until March 1st. While collecting new submissions, we will review grant 
                applications from the previous round. All grant applications will be reviewed two months after its respective 
                submission window ended. In short, you can always apply!
            </p>

            <h3 class="no-margin">
                The decision-making process
            </h3>

            <p class="justify">
                The Raiden Trust is managed by the trustees of the Raiden Trust, who are supported by a team of grant 
                managers as well as an advisory board consisting of subject matter experts. If you want to learn more 
                about our legal structure, read the legal launch blog post
                <a href="https://medium.com/raiden-network/introducing-the-raiden-trust-cd47db60146" target="_blank">here</a>.
            </p>

            <p class="justify">
                The process to decide whether the Raiden Trust will provide a grant to a project is straightforward and 
                follows the pattern below:
            </p>

            <ol class="numbered">
                <li class="justify">
                    SA grant application is submitted via 
                    <a href="https://forms.gle/Djn24F1cSsCU9Jpw7" target="_blank">this form</a>
                </li>
                <li class="justify">
                    The Raiden Trust team conducts an initial screening
                </li>
                <li class="justify">
                    If the initial screening is successfully passed, the advisory board will further review the application
                </li>
                <li class="justify">
                    The Raiden Trust team and/or advisory board may want to conduct an interview with the applicant and/or 
                    ask for additional information
                </li>
                <li class="justify">
                    The advisory board makes a recommendation to the trustees
                </li>
                <li class="justify">
                    The trustees will then take the final decision
                </li>
            </ol>

            <h2>
                <span class="first-line-span">.</span>General remarks
            </h2>

            <ol>
                <li class="justify">
                    If you are a team you should have a single point of contact to handle communications
                </li>
                <li class="justify">
                    We will not just pay out grants but also monitor the project’s progress and potentially 
                    tie grant payouts to milestones
                </li>
                <li class="justify">
                    Your team will need to pass a standard KYC/AML procedure at some stage during the review process
                </li>
            </ol>

            <h2>
                <span class="first-line-span">.</span>FAQ
            </h2>

            <ol>
                <li>
                    <span class="bold">
                           Can I apply as a legal entity or private person?
                    </span>
                    <div class="justify">
                        If a legal entity has already been established, apply as such. If not or if you’re in the process 
                        of forming a legal entity apply as a private person initially.
                    </div>
                </li>
                <li>
                    <span class="bold">
                        I have received some form of other funding already, but it is not sufficient. Can I still apply?
                    </span>
                    <div class="justify">
                        Yes, but you would need to disclose your entire use of funds.
                    </div>
                </li>
                <li>
                    <span class="bold">
                        Does the Raiden Trust require equity in return?
                    </span>
                    <div class="justify">
                        No, the Raiden Trust does not require any equity or control over your project.
                    </div>
                </li>
                <li>
                    <span class="bold">
                        What is expected of me when I receive a grant?
                    </span>
                    <div class="justify">
                        This depends on various aspects such as grant size. It will be agreed upon before 
                        receiving funding. We may ask you to give periodic updates on the project’s progress. 
                    </div>
                </li>
            </ol>

            <p class="justify">
                Please note that these guidelines are always a work in progress and will get updated as we learn along.
                If you have suggestions you can always reach out to us.
            </p>

            <p class="justify">
                Do you have any further questions? We are happy to help at <a href="mailto:contact@raidentrust.li">contact@raidentrust.li</a>
            </p>

        </div>
    </div>
</section>

{% include footer.html %}
