---
layout: default
---

<style>
  section.hero {
    overflow: hidden;
    position: relative;
    background-color: transparent;
  }
  .footer-title {
    color: white !important;
  }
</style>
<section class="no-padding dark">
  <section class="hero">
    <div>
      <h1>RAIDEN TRUST</h1>
    </div>
    <div>
      <h3>ABOUT</h3>
    </div>

    <div class="content">
      <p class="justify">
        The Raiden Trust manages the Raiden Network grant programme and its mission 
        is to strengthen and foster the greater Raiden ecosystem by supporting 
        projects and individuals working on complementary or foundational 
        components or applications that help to build and grow the Raiden Network. 
        The Raiden Trust is funded with 16 million RDN tokens.
      </p>

      <p class="justify">
        It is not involved with the core roadmap of the Raiden Network protocol, 
        but rather aims to support projects and individuals that wish to contribute 
        to the wider Raiden ecosystem. Projects will be supported via financial 
        means, guidance and the Raiden Trust’s network in the ecosystem.
      </p>

      <p class="justify">
        The Raiden Trust has been founded on 25th of April 2019 as an independent entity.
        If you are interested in learning more about the legal setup, please read 
        our 
        <a target="_blank" href="https://medium.com/raiden-network/introducing-the-raiden-trust-cd47db60146"> announcement</a>.<br /> 
        You can also read the Raiden Trust deed <a href="/deed.pdf"> here</a>.
      </p>

    </div>
    
    <div>
      <h3>Grant Application</h3>
    </div>
    
    <div class="content">
      <p class="justify">
        Before applying for a grant please read our <a target="_blank" href="https://www.raidentrust.li/guidelines.html"> guidelines</a>.
      </p>
      <p class="justify">
        The first submission window starts on June xxx, closes on August 21xxx and all 
        grant applications submitted before this date will be reviewed at the latest by October 
        xxx. Subsequent submission windows will start on the close of the previous window
      </p>
    </div>
    
  </section>
  {% include footer.html %}
</section>
