---
layout: default
---

<style>
  section.hero {
    overflow: hidden;
    position: relative;
    background-color: transparent;
  }
</style>
<section class="no-padding dark">
 <div class="logo-wrapper">
   <a href="/" class="brand-logo">
     <img src="./img/logo-black.png" />
   </a>
 </div>
  <section class="hero">
    <div>
      <h1>RAIDEN TRUST</h1>
    </div>
    <div>
      <h3>ABOUT</h3>
    </div>

    <div class="content">
      <p class="justify">
        The Raiden Trust manages brainbot labs Establishment's Raiden Network grant 
        programme. It is funded with 16 million RDN tokens and its goal is to support 
        contributions to the wider Raiden ecosystem. <br> It is not involved with the core 
        roadmap of the Raiden Network protocol, but rather aims to support projects 
        and individuals that wish to contribute to the wider Raiden ecosystem.
      </p>

      <p class="justify">
        Projects will be supported via financial means, guidance and the Raiden
        Trust’s network in the ecosystem.
      </p>

      <p class="justify">
        The Raiden Trust has been founded on 25th of April 2019 as an independent entity.
        If you are interested in learning more about the legal setup, please read 
        our 
        <a target="_blank" href="https://medium.com/raiden-network/introducing-the-raiden-trust-cd47db60146"> announcement </a>. 
        You can also read the Raiden Trust deed <a href="/deed.pdf"> here</a>.
      </p>

      <p class="justify">
        Come back soon to apply for a grant to fund your project!
      </p>
    </div>
  </section>
</section>


{% include footer.html %}
